* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main-title {
  text-align: center;
  margin-bottom: 1em;
}

main {
  position: relative;
}

#utils {
  position: absolute;
  top: 0;
  padding: 10px;
}
#table-deck-img {
  height: 135px;
}
#yaniv {
  font-size: 2em;
  border-radius: 50%;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  font-weight: bold;
  background-color: red;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
#board-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr) [12];
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 800px;
  margin: auto;
  height: 800px;
  padding: 10px;
}

#table-container {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 5 / 4 / 9 / 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: solid 1px black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}

#player1 {
  text-align: center;
  display: inline;
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 10 / 4 / 13 / 10;
  right: 30px;
  top: 55px;
}

#player2 {
  text-align: center;
  display: inline;
  -ms-grid-row: 3;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / 10 / 3;
  top: 50px;
  img {
    transform: rotate(90deg);
  }
}

#player3 {
  text-align: center;
  display: inline;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 1 / 4 / 4 / 10;
  right: 30px;
  top: 40px;
  transform: rotate(180deg);
}
#player4 {
  text-align: center;
  display: inline;
  -ms-grid-row: 3;
  -ms-grid-row-span: 7;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: 3 / 11 / 10 / 13;
  top: 50px;
  img {
    transform: rotate(90deg);
  }
}
.marked {
  opacity: 20%;
}
#round-victory {
  position: fixed;
  top: 50%;
  left: 50%;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 4em;
  background-color: white;
  padding: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#next-round {
  position: fixed;
  top: 80%;
  left: 50%;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 2em;
  background-color: white;
  padding: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  &hover {
    cursor: pointer;
  }
}
